.poll{
    padding:20px;
    border: 1px solid #ccc;
}

.poll-question
{
    font-weight:bold;
    margin-bottom:20px;
}

.poll-options
{
    margin-bottom:20px;
}

.poll-option
{
    margin-bottom:10px;
}

#img1{
    margin-top: 20px;
    margin-left: 20px;
}

header{
    position: relative; 	
    height: 10%;
    background: black;
    }

header span{
    position: relative;
    bottom: 30px;
    left: 90px;
    font-size: 36px;
    color: #FFF;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
   }

body
{
    background-image: url(../Img/bgg.jpg);
}

#td1
{
  width:230px;
  height:50px;
  border-radius:3px;
  border:1px; 
}

#td2
{
  width:230px;
  height:50px;
  border-radius:3px;
  border:1px; 
  margin-left:-19px;
}

#td3
{
  width:470px;
  height:50px;
  border-radius:3px;
  border:1px; 
}

#button
{
  width:230px;
  height:50px;
  border-radius:3px;
  border:1px; 
  background-color: #13d0ab;
  color: #FFF;
  font-family: calibri;
  font-size: 20px;
}

#button1
{
  width:230px;
  height:50px;
  margin-left: -19px;
  border-radius:3px;
  border:1px; 
  background-color: red;
  color: #FFF;
  font-family: calibri;
  font-size: 20px;
}


footer
{
    position: relative; 	
    height: 60px;
    background:white;
    margin-bottom: 10px;
}

footer span
{
    position: relative;
    bottom: -15px;
    left: 90px;
    font-size: 16px;
    color: #888;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.placeholder
{
    margin-left: -222px;
    font-family: calibri;
    color: grey;
}

.placeholder1
{
    margin-left: -460px;
    font-family: calibri;
    color: grey;
}


.filter:focus ~ .placeholder,
.filter:valid ~ .placeholder
{
    display: none;
}

#group
{
    margin-left: 390px;
    margin-top: 30px;
}

#text1
{
    font-family: calibri;
    font-size: 15px;
    color: whitesmoke;
    margin-left: 90px;
}

